create database QLGiaoVu1;
go
use QLGiaoVu1;
set dateformat DMY;
go
create table HOCVIEN
(
	MAHV		char(5)PRIMARY KEY,
	HO		varchar(40),
	TEN		varchar(10),
	NGSINH	smalldatetime,
	GIOITINH	varchar(3),
	NOISINH	varchar(40),
	MALOP	char(3)
);
go
CREATE TABLE LOP
(
	MALOP	char(3)PRIMARY KEY,
	TENLOP	varchar(40),
	TRGLOP	char(5)FOREIGN KEY REFERENCES HOCVIEN(MAHV),
	SISO		tinyint,
	MAGVCN	char(4)
);
go
CREATE TABLE KHOA
(
	MAKHOA	varchar(4) PRIMARY KEY,
	TENKHOA	varchar(40),
	NGTLAP	smalldatetime,
	TRGKHOA	char(4)
);
go
CREATE TABLE MONHOC
(
	MAMH		varchar(10)PRIMARY KEY,
	TENMH	varchar(40),
	TCLT		tinyint,
	TCTH		tinyint,
	MAKHOA	varchar(4)FOREIGN KEY REFERENCES KHOA(MAKHOA)
);
go
CREATE TABLE DIEUKIEN
(
	MAMH			varchar(10)FOREIGN KEY REFERENCES MONHOC(MAMH),
	MAMH_TRUOC	varchar(10)FOREIGN KEY REFERENCES MONHOC(MAMH),
	CONSTRAINT PK_DIEUKIEN PRIMARY KEY (MAMH,MAMH_TRUOC)
);
go
CREATE TABLE GIAOVIEN
(
	MAGV		char(4)PRIMARY KEY,
	HOTEN	varchar(40),
	HOCVI	varchar(10),
	HOCHAM	varchar(10),
	GIOITINH	varchar(3),
	NGSINH	smalldatetime,
	NGVL		smalldatetime,
	HESO		numeric(4,2),
	MUCLUONG	money,
	MAKHOA	varchar(4)FOREIGN KEY REFERENCES KHOA(MAKHOA)
);
go
CREATE TABLE GIANGDAY
(
	MALOP	char(3)FOREIGN KEY REFERENCES LOP(MALOP),
	MAMH		varchar(10)FOREIGN KEY REFERENCES MONHOC(MAMH),
	MAGV		char(4)FOREIGN KEY REFERENCES GIAOVIEN(MAGV),
	HOCKY	tinyint,
	NAM		smallint,
	TUNGAY	smalldatetime,
	DENNGAY	smalldatetime,
	CONSTRAINT PK_GIANGDAY PRIMARY KEY (MALOP,MAMH)
);
go
CREATE TABLE KETQUATHI
(
	MAHV		char(5)FOREIGN KEY REFERENCES HOCVIEN(MAHV),
	MAMH		varchar(10)FOREIGN KEY REFERENCES MONHOC(MAMH),
	LANTHI	tinyint,
	NGTHI	smalldatetime,
	DIEM		numeric(4,2),
	KQUA		varchar(10),
	CONSTRAINT PK_KETQUATHI PRIMARY KEY (MAHV,MAMH,LANTHI)
);
go
alter table HOCVIEN add constraint FK_HV_LOP FOREIGN KEY(MALOP) REFERENCES LOP(MALOP);


---Khoa
insert into KHOA values('KHMT','Khoa hoc may tinh','7/6/2005','GV01')
insert into KHOA values('HTTT','He thong thong tin','7/6/2005','GV02')
insert into KHOA values('CNPM','Cong nghe phan mem','7/6/2005','GV04')

--Giao vien

insert into GIAOVIEN values('GV01','Ho Thanh Son','PTS','GS','Nam','2/5/1950','11/1/2004',5.00,2250000,'KHMT')
insert into GIAOVIEN values('GV02','Tran Tam Thanh','TS','PGS','Nam','17/12/1965','20/4/2004',4.50,2025000,'HTTT')
insert into GIAOVIEN values('GV03','Do Nghiem Phung','TS','GS','Nu','1/8/1950','23/9/2004',4.00,1800000,'CNPM')


--Mon hoc
insert into MONHOC values('THDC','Tin hoc dai cuong',4,1,'KHMT')
insert into MONHOC values('CTRR','Cau truc roi rac',5,0,'KHMT')
insert into MONHOC values('CSDL','Co so du lieu',3,1,'HTTT')

--Lop
insert into LOP values('K11','Lop 1 khoa 1',NULL,11,'GV07');
insert into LOP values('K12','Lop 2 khoa 1',NULL,12,'GV09');
insert into LOP values('K13','Lop 3 khoa 1',NULL,12,'GV14');


--Hoc vien
insert into HOCVIEN values('K1101','Nguyen Van','A','27/1/1986','Nam','TpHCM','K11')
insert into HOCVIEN values('K1102','Tran Ngoc','Han','14/3/1986','Nu','Kien Giang','K11')
insert into HOCVIEN values('K1103','Ha Duy','Lap','18/4/1986','Nam','Nghe An','K11')
--
/*insert into LOP values('K11','Lop 1 khoa 1','K1108',11,'GV07')
insert into LOP values('K12','Lop 2 khoa 1','K1205',12,'GV09')
insert into LOP values('K13','Lop 3 khoa 1','K1305',12,'GV14')*/
--
GO

UPDATE LOP
SET TRGLOP ='K1305'
WHERE MALOP='K13'; 
GO
UPDATE LOP
SET TRGLOP ='K1205'
WHERE MALOP='K12'; 
GO
UPDATE LOP
SET TRGLOP ='K1105'
WHERE MALOP='K11'; 

--Giang day
insert into GIANGDAY values('K11','THDC','GV07',1,2006,'2/1/2006','12/5/2006')
insert into GIANGDAY values('K12','THDC','GV06',1,2006,'2/1/2006','12/5/2006')
insert into GIANGDAY values('K13','THDC','GV15',1,2006,'2/1/2006','12/5/2006')


--Dieu kien
insert into DIEUKIEN values('CSDL','CTRR')
insert into DIEUKIEN values('CSDL','CTDLGT')
insert into DIEUKIEN values('CTDLGT','THDC')


--Ket qua thi

insert into KETQUATHI values('K1101','CSDL',1,'20/7/2006',10.00,'Dat')
insert into KETQUATHI values('K1101','CTDLGT',1,'28/12/2006',9.00,'Dat')
insert into KETQUATHI values('K1101','THDC',1,'20/5/2006',9.00,'Dat')
insert into KETQUATHI values('K1305','CTRR',1,'13/5/2006',10.00,'Dat')/* 1. Tạo thủ tục KQ_MH, cho biết kết quả thi môn học (MH) của học viên (SV).
 Thông tin gồm: Mã học viên, tên học viên, mã môn học, tên môn học, lần thi, ngày thi,
điểm, kết quả
 Thủ tục nhận 2 tham số đầu vào là mã môn học (MH) và mã học viên (SV) */goSELECT hv.MAHV, hv.HO, hv.TEN, mh.MAMH, mh.TENMH, kq.LANTHI, kq.DIEM, kq.KQUA
FROM HOCVIEN hv RIGHT JOIN KETQUATHI kq ON hv.MAHV = kq.MAHV 				RIGHT JOIN MONHOC mh ON kq.MAMH	= mh.MAMH				goCREATE PROC proc_cau1 @mamh varchar(10), @mahv varchar(10) asSELECT hv.MAHV, hv.HO, hv.TEN, mh.MAMH, mh.TENMH, kq.LANTHI, kq.DIEM, kq.KQUA
FROM HOCVIEN hv RIGHT JOIN KETQUATHI kq ON hv.MAHV = kq.MAHV 				RIGHT JOIN MONHOC mh ON kq.MAMH	= mh.MAMHWHERE hv.MAHV = @mahv AND mh.mamh = @mamhgoexec proc_cau1 @mahv = 'K1101', @mamh =  'CSDL'go/* 2. Tạo thủ tục GV_MH, cho biết danh sách các môn học giáo viên (GV) đã dạy trong năm (NH).
 Thông tin gồm: Mã GV, tên gv, mã môn học, tên môn học, số tín chỉ lý thuyết, số tín chỉ
thực hành
 Thủ tục nhận 2 tham số đầu vào là mã giáo viên (GV) và năm học (NH) */

SELECT gv.MAGV, gv.HOTEN , mh.MAMH, gd.nam, mh.TENMH, mh.TCLT, mh.TCTH
FROM GIAOVIEN gv RIGHT JOIN GIANGDAY gd ON gv.MAGV = gd.MAGV
				RIGHT JOIN MONHOC mh ON gd.MAMH = mh.MAMH
				
go

ALTER PROC proc_cau2 @magv VARCHAR(10), @nam  INT as
SELECT gv.MAGV, gv.HOTEN , mh.MAMH, mh.TENMH, mh.TCLT, mh.TCTH
FROM GIAOVIEN gv RIGHT JOIN GIANGDAY gd ON gv.MAGV = gd.MAGV
				RIGHT JOIN MONHOC mh ON gd.MAMH = mh.MAMH
WHERE gv.MAGV = @magv AND gd.NAM = @nam

go

EXEC proc_cau2 @magv = 'GV05', @nam = 2006

go


/* 3. Tạo thủ tục MH_TRUOC cho biết danh sách môn học tiên quyết của môn học (MH).
 Thông tin gồm: mã môn học tiên quyết, tên môn học tiên quyết.
 Thủ tục nhận 1 tham số đầu vào là mã môn học (MH). */
SELECT dk.MAMH_TRUOC
FROM MONHOC mh RIGHT JOIN DIEUKIEN dk on mh.MAMH = dk.MAMH

go

SELECT MAMH, TENMH
FROM MONHOC 
WHERE MAMH in (SELECT dk.MAMH_TRUOC
FROM MONHOC mh RIGHT JOIN DIEUKIEN dk on mh.MAMH = dk.MAMH)

go

CREATE PROC proc_cau3 @mamh varchar(10) as
SELECT MAMH, TENMH
FROM MONHOC 
WHERE MAMH = @mamh AND MAMH in (SELECT dk.MAMH_TRUOC
FROM MONHOC mh RIGHT JOIN DIEUKIEN dk on mh.MAMH = dk.MAMH)

go

EXEC proc_cau3 @mamh = 'CSDL'

go
/* 4. Tạo thủ tục TOP_N liệt kê danh sách n học viên có điểm thi cao nhất.
 Thông tin gồm: Mã học viên, tên học viên, mã môn học, ngày thi, lần thi, điểm
 Thủ tục nhận 1 tham số đầu vào là n. */

SELECT TOP 10 hv.MAHV, hv.HO, hv.TEN, kq.MAMH, kq.NGTHI, kq.LANTHI, kq.DIEM
FROM HOCVIEN hv RIGHT JOIN KETQUATHI kq on hv.MAHV = kq.MAHV
ORDER BY kq.DIEM DESC

go

CREATE PROC prop_cau4 @top TINYINT as
SELECT TOP (@top) hv.MAHV, hv.HO, hv.TEN, kq.MAMH, kq.NGTHI, kq.LANTHI, kq.DIEM
FROM HOCVIEN hv RIGHT JOIN KETQUATHI kq on hv.MAHV = kq.MAHV
ORDER BY kq.DIEM DESC

go

EXEC prop_cau4 15

go

/* 5. Tạo thủ tục THONGKE, cho biết tổng số giáo viên (TS) và mức lương bình quân (BQ) của khoa
(KH). 
 Trong đó mã khoa (KH) là tham số đầu vào, TS và BQ là tham số đầu ra */
CREATE PROC proc_cau5 @makhoa varchar(10) as
SELECT COUNT(*) as TONGSOGV, SUM(MUCLUONG) / COUNT(*) as LUONGTB
FROM GIAOVIEN
WHERE MAKHOA = @makhoa

go

EXEC proc_cau5 'HTTT'

go

SELECT * FROM GIAOVIEN

go

/* 6. Viết thủ tục sp_bangdiem có tham số là mã học viên (SV), sử dụng kiểu dữ liệu cursor để in bảng
điểm của học viên như sau:
Bảng điểm
Mã số học viên: ...................
Tên học viên: .......................
--------------------------------------------------------------
: STT : Tên MH : Điểm :
----------------------------------------------------------------
Trong đó cột điểm là điểm cao nhất của môn học đó */
DECLARE @mahv AS VARCHAR(50),
	@ho AS NVARCHAR(50), 
	@ten AS NVARCHAR(50),
	@stt AS INT,
	@mh  AS VARCHAR(50),
	@diem AS INT
DECLARE cursor_hv CURSOR FOR
SELECT hv.MAHV, hv.HO, hv.TEN, mh.TENMH, kq.DIEM
FROM HOCVIEN hv RIGHT JOIN KETQUATHI kq on hv.MAHV = kq.MAHV
				RIGHT JOIN MONHOC mh on kq.MAMH = mh.MAMH
OPEN cursor_hv
FETCH NEXT FROM cursor_hv INTO @mahv, @ho, @ten, @mh, @diem
WHILE @@FETCH_STATUS = 0
BEGIN 
SET @stt = @stt + 1
PRINT(N'Bang diem')
PRINT(N'Ma so hoc vien: ' + @mahv)
PRINT(N'Ten hoc vien: ' + @ten)
PRINT(N': STT : Ten MH : DIEM :')
PRINT(@stt + @mh + @diem)
PRINT(' ')
END
CLOSE cursor_hv
DEALLOCATE cursor_hv
go
/* 1. Tạo hàm cho biết điểm trung bình (DTB) các môn thi của học viên (mã học viên là tham số của
hàm). */
CREATE FUNCTION fc_1 (
	@mahv as varchar(10)
)
RETURN TABLE
AS
BEGIN
SELECT * FROM KETQUATHI WHERE mahv = 'K1102' 
	
	SELECT mahv, diem AS TONGDIEM , MAX(diem)
	FROM KETQUATHI
	WHERE mahv = 'K1102'
	GROUP BY mahv, lanthi, diem
	HAVING lanthi >= MAX(lanthi)
END
GO

/* 2. Tạo hàm cho biết sỉ số học viên của lớp . */
SELECT * FROM lop
CREATE FUNCTION fc_cau2()
RETURNS TABLE
AS
	RETURN SELECT malop, siso FROM lop
GO
SELECT * FROM fc_cau2()
GO

/* 3. Tạo hàm cho biết số lượng môn học mà giáo viên đã dạy trong học kỳ (HK) của năm (NAM). Với
mã giáo viên, mã học kỳ (HK) và năm (NAM) là tham số */

SELECT COUNT(*) AS SOLUONGMONHOC
FROM GIAOVIEN gv LEFT JOIN GIANGDAY gd ON gv.MAGV = gd.MAGV 
WHERE gv.MAGV = 'GV15' AND gd.HOCKY = 3 AND gd.NAM = 2006;
GO 

CREATE FUNCTION fc_cau3(
	@magv VARCHAR(10),
	@mahk TINYINT,
	@nam INT
)
RETURNS INT
AS BEGIN
	DECLARE @result INT
	SET @result =  (SELECT COUNT(*) AS SOLUONGMONHOC
	FROM GIAOVIEN gv LEFT JOIN GIANGDAY gd ON gv.MAGV = gd.MAGV 
	WHERE gv.MAGV = @magv AND gd.HOCKY = @mahk AND gd.NAM = @nam)
	return @result
END
GO
DECLARE @result AS INT =  fc_cau3('GV15', 3, 2006)
/* 4. Tạo hàm cho biết danh sách giáo viên có hệ số lương cao nhất. */
GO
CREATE FUNCTION fc_4()
RETURNS TABLE
AS
RETURN
	SELECT TOP 10  MAGV, HOTEN, HOCVI, HOCHAM, GIOITINH, NGVL, HESO, MUCLUONG, MAKHOA
	FROM giaovien
	ORDER BY heso DESC
GO
SELECT * FROM fc_4()

GO
/* 5. Tạo hàm trả về kết quả là một bảng (Table) bằng hai cách: Inline Table-Valued Functions và
Multistatement Table-Valued. Thông tin gồm: MAKHOA, TENKHOA, LuongTB */

--Inline Table-Valued Functions
CREATE FUNCTION fc_5_iTVF()
RETURNS TABLE
AS
RETURN
SELECT k.MAKHOA, k.TENKHOA, SUM(gv.MUCLUONG) AS LUONGTB
FROM KHOA AS k LEFT JOIN GIAOVIEN AS gv ON k.MAKHOA = gv.MAKHOA
GROUP BY k.MAKHOA, k.TENKHOA
GO
SELECT * FROM fc_5_iTVF()
GO

--Multistatement Table-Valued
CREATE FUNCTION fc_5_MTV()
RETURNS @ResultTable TABLE
(
	MAKHOA varchar(20), TENKHOA nvarchar(50), LUONGTB INT
)
AS
BEGIN
	INSERT INTO @ResultTable
	SELECT k.MAKHOA, k.TENKHOA, SUM(gv.MUCLUONG) AS LUONGTB
	FROM KHOA AS k LEFT JOIN GIAOVIEN AS gv ON k.MAKHOA = gv.MAKHOA
	GROUP BY k.MAKHOA, k.TENKHOA
RETURN
END

GO
SELECT * FROM fc_5_MTV()

/* 1. Học viên thi một môn tối đa 3 lần. */
ALTER TRIGGER trg_1 
ON KETQUATHI
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @count INT
SELECT @count =  LANTHI FROM INSERTED 
IF @count > 3
BEGIN 
	RAISERROR('Mot mon khong duoc thi qua 3 lan', 1, 1)
	ROLLBACK
	END
END
GO



SELECT * FROM KETQUATHI kq LEFT JOIN HOCVIEN hv ON kq.MAHV = hv.MAHV

GO
/* 2. Học kỳ chỉ có giá trị từ 1 đến 3. */
ALTER TRIGGER trg_2
ON GIANGDAY
FOR INSERT, UPDATE
AS
BEGIN
	IF( SELECT HOCKY FROM inserted ) > 3
	BEGIN
		RAISERROR('Hoc ky nam trong khoang tu 1 den 3', 10, 1)
		ROLLBACK
	END
END
GO
SELECT * FROM GIANGDAY
SELECT * FROM MONHOC
GO
/* 3. Học vị của giáo viên chỉ có thể là “CN”, “KS”, “Ths”, ”TS”, ”PTS”. */
ALTER TRIGGER trg_3
ON GIAOVIEN
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @hocvi nvarchar(50)
SELECT @hocvi = HOCVI FROM inserted
IF(@hocvi != 'CN' OR @hocvi != 'KS' OR @hocvi != 'ThS' OR @hocvi != 'TS' OR @hocvi != 'PTS')
	BEGIN 
		RAISERROR('Hoc vi khong dung', 1, 1)
		ROLLBACK
	END 
END
GO
DROP TRIGGER trg_3
GO
/* 4. Lớp trưởng của một lớp phải là học viên của lớp đó. */
CREATE TRIGGER trg_4
ON LOP
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @lop nvarchar(50) 
SELECT @lop = i.MALOP FROM inserted i JOIN HOCVIEN hv ON i.MALOP = hv.MALOP
				GROUP BY i.MALOP, i.MALOP, hv.MALOP
DECLARE @malop nvarchar(50)
SELECT @malop = hv.MALOP FROM inserted i JOIN HOCVIEN hv ON i.MALOP = hv.MALOP
				GROUP BY i.MALOP, i.MALOP, hv.MALOP
IF(@lop != @malop)
	BEGIN
		RAISERROR('Hoc sinh khong duoc lam lop truong lop minh khong hoc', 10, 1)
		ROLLBACK
	END
END
Go
SELECT l.MALOP, l.TRGLOP, hv.MALOP FROM LOP l JOIN HOCVIEN hv ON l.MALOP = hv.MALOP
GROUP BY l.MALOP, l.TRGLOP, hv.MALOP

GO

/* 5. Trưởng khoa phải là giáo viên thuộc khoa và có học vị “TS” hoặc “PTS”. */
CREATE TRIGGER trg_5
ON KHOA
FOR UPDATE, INSERT
AS
BEGIN
DECLARE @hocvi nvarchar(50)
SELECT @hocvi = gv.HOCVI FROM inserted i RIGHT JOIN GIAOVIEN gv ON i.TRGKHOA = gv.MAGV
IF(@hocvi != 'TS' OR @hocvi != 'PTS')
	BEGIN
		RAISERROR('Truong khoa phai co hoc vi TS hoac PTS', 10, 1)
		ROLLBACK
	END
END
GO
/* 6. Học viên ít nhất là 18 tuổi. */
CREATE TRIGGER trg_6
ON hocvien
FOR INSERT, UPDATE
AS
BEGIN 
DECLARE @year INT
SELECT @year = YEAR(ngsinh) FROM inserted
IF(YEAR(GETDATE()) - @year < 18)
	BEGIN
		RAISERROR('Hoc vien phai lon hon 18 tuoi', 10, 1)
		ROLLBACK
	END
END
GO
/* 7. Giảng dạy một môn học ngày bắt đầu (TUNGAY) phải nhỏ hơn ngày kết thúc
(DENNGAY). */
ALTER TRIGGER trg_7
ON GIANGDAY
FOR UPDATE, INSERT
AS
BEGIN
DECLARE @startDate date
DECLARE @endDate date
SELECT @startDate = tungay FROM inserted
SELECT @endDate = denngay FROM inserted
DECLARE @datediff int
SET @datediff = DATEDIFF(DAY, @startDate, @endDate)
IF( @datediff < 0)
	BEGIN
		RAISERROR('Ngay bat dau phai truoc ngay ket thuc', 10, 1)
		ROLLBACK
	END
END
insert into GIANGDAY values('K13','LTCFW','GV07',1,2007,'18/4/2007','20/3/2007')
SELECT DATEDIFF(DAY, '18/4/2007','20/3/2007')
GO

/* 8. Giáo viên khi vào làm ít nhất là 22 tuổi. */
CREATE TRIGGER trg_8
ON GIAOVIEN
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @year INT
SELECT @year = YEAR(NGSINH) FROM inserted
IF(YEAR(GETDATE()) - @year  < 18 )
	BEGIN
		RAISERROR('Giao vien vao lam phai lon hon 22 tuoi', 10, 1)
		ROLLBACK
	END
END
insert into GIAOVIEN values('GV16','Le Ha Thanh','TS','GV','Nam','4/5/2010','15/5/2005',3.00,1350000,'KHMT')
GO
/* 9. Tất cả các môn học đều có số tín chỉ lý thuyết và tín chỉ thực hành chênh lệch
nhau không quá 3. */
CREATE TRIGGER trg_9
ON MONHOC
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @tclt TINYINT
DECLARE @tcth TINYINT
SELECT @tclt = TCLT FROM inserted
SELECT @tcth = TCTH FROM inserted
IF(@tclt - @tcth > 3 OR @tcth - @tclt >3)
	BEGIN
		RAISERROR('Tin chi ly thuyet va tin chi thuc hanh chenh lech khong qua 3', 10, 1)
		ROLLBACK
	END
END
insert into MONHOC values('AI','Tri tue nhan tao',3,3,'CNPM')
/* 10. Học viên chỉ được thi một môn học nào đó khi lớp của học viên đã học xong
môn học này. */
ALTER TRIGGER trg_10
ON KETQUATHI
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @ngaythi DATE
DECLARE @ngayketthuc DATE
SELECT @ngaythi = NGTHI FROM inserted
SELECT @ngayketthuc = gd.DENNGAY FROM inserted i JOIN GIANGDAY gd on i.MAMH = gd.MAMH
print(@ngaythi)
		print(@ngayketthuc)
IF(DATEDIFF(DAY, @ngayketthuc, @ngaythi) < 0)
	BEGIN
		
		RAISERROR('Hoc vien chi duoc thi khi da hoc xong mon nay', 10, 1)
		ROLLBACK
	END
END
insert into KETQUATHI values('K1303','KTMT',1,'25/7/2000',4.50,'Khong Dat')
SELECT * FROM GIANGDAY
SELECT gd.DENNGAY FROM KETQUATHI kq JOIN GIANGDAY gd on kq.MAMH = gd.MAMH WHERE kq.MAMH = 'KTMT'
/* 11. Mỗi học kỳ của một năm học, một lớp chỉ được học tối đa 3 môn. */
SELECT COUNT(*) FROM GIANGDAY
WHERE MALOP = 'K11' AND HOCKY = 1
GROUP BY MALOP

GO

CREATE TRIGGER trg_11
ON GIANGDAY
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @count INT
SELECT @count = COUNT(*) FROM inserted i RIGHT JOIN GIANGDAY gd ON i.MALOP = gd.MALOP
WHERE i.HOCKY = gd.HOCKY AND i.NAM = gd.NAM
IF(@count > 3)
	BEGIN
		RAISERROR('Mot lop khong hoc qua 3 mon trong 1 hoc ky', 10, 1)
		ROLLBACK
	END
END

GO
SELECT * FROM MONHOC
SELECT * FROM GIANGDAY

/* 12. Sỉ số của một lớp bằng với số lượng học viên thuộc lớp đó. */
CREATE TRIGGER trg_12
ON HOCVIEN
FOR INSERT, UPDATE
AS
BEGIN
DECLARE @siso INT
DECLARE @soluong INT
SELECT @siso = COUNT(*) FROM inserted i RIGHT JOIN HOCVIEN hv ON i.MALOP = hv.MALOP
GROUP BY hv.MALOP
SELECT @soluong = l.SISO FROM inserted i RIGHT JOIN LOP l ON i.MALOP = l.MALOP
IF(@siso != @soluong)
	BEGIN
		RAISERROR('So luong hoc vien phai bang voi si so cua lop do', 10, 1)
		ROLLBACK
	END
END

GO
SELECT COUNT(*) FROM HOCVIEN
GROUP BY MALOP
SELECT * FROM LOP
SELECT * FROM HOCVIEN
GO
/* 13. Trong quan hệ DIEUKIEN giá trị của thuộc tính MAMH và MAMH_TRUOC
trong cùng một bộ không được giống nhau (“A”,”A”) và cũng không tồn tại hai
bộ (“A”,”B”) và (“B”,”A”). */
ALTER TRIGGER trg_13
ON DIEUKIEN
FOR INSERT, UPDATE
AS
BEGIN
	DECLARE @mamh varchar(20)
	DECLARE @mamh_truoc varchar(20)
	SELECT @mamh = MAMH FROM inserted
	SELECT @mamh_truoc = MAMH_TRUOC FROM inserted
	IF(@mamh = @mamh_truoc)
		BEGIN
			RAISERROR('Ma mon hoc va ma mon hoc truoc khong duoc trung nhau', 10, 1)
			ROLLBACK
		END
	IF EXISTS (SELECT * FROM DIEUKIEN dk join inserted i
						ON dk.MAMH = i.MAMH_TRUOC
						WHERE dk.MAMH_TRUOC = i.MAMH)
		BEGIN
			RAISERROR('Ma mon hoc trung voi ma mon hoc truoc va ma mon hoc truoc trung voi ma mon hoc', 10, 1)
			ROLLBACK
		END
END
GO
SELECT * FROM DIEUKIEN
GO
/* 14. Các giáo viên có cùng học vị, học hàm, hệ số lương thì mức lương bằng nhau. */
CREATE TRIGGER trg_14
ON GIAOVIEN
FOR INSERT, UPDATE
AS
BEGIN
	DECLARE @ml INT
	DECLARE @mlc INT
	SELECT @ml = MUCLUONG FROM inserted
	SELECT @mlc = gv.MUCLUONG FROM inserted i RIGHT JOIN GIAOVIEN gv ON i.HOCVI = gv.HOCVI
	WHERE i.HOCHAM = gv.HOCHAM AND i.HESO = gv.HESO
	IF(@ml != @mlc)
		BEGIN
			RAISERROR('Muc luong khac so voi nguoi cung hoc vi, hoc ham, he so luong', 10, 1)
			ROLLBACK
		END
END
GO
SELECT * FROM GIAOVIEN
